<div class="loading" *ngIf="isLoading">
<mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
    <div>
        <mat-button-toggle-group class="division-selector" aria-label="Division" #group="matButtonToggleGroup">
            <mat-button-toggle value="male" (change)="toggleDivision($event, group)" [checked]="division === 'male'"
                               class="division-selector__item division-selector__item--male">
                <mat-icon class="division-selector__item__icon">male</mat-icon>
                <div class="division-selector__item__info">
                    <h2>{{ maleCount }} Men</h2>
                </div>
            </mat-button-toggle>
            <mat-button-toggle value="female" (change)="toggleDivision($event, group)" [checked]="division === 'female'"
                               class="division-selector__item division-selector__item--female">
                <mat-icon class="division-selector__item__icon">female</mat-icon>
                <div class="division-selector__item__info">
                    <h2>{{ femaleCount }} female</h2>
                </div>
            </mat-button-toggle>
            <mat-button-toggle value="kid" (change)="toggleDivision($event, group)" [checked]="division === 'kid'"
                               class="division-selector__item division-selector__item--kids">
                <mat-icon class="division-selector__item__icon">child_care</mat-icon>
                <div class="division-selector__item__info">
                    <h2>{{ kidCount }} kids </h2>
                </div>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>


    <div class="content">
        <main class="main">
            <div class="main--center">
                <h1 *ngIf="division">{{ division | titlecase}} Riders</h1>
                <h1 *ngIf="!division">Riders</h1>

                <mat-form-field appearance="standard">
                    <mat-label>Search Riders</mat-label>
                    <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event)" placeholder="Search Riders">
                    <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear"
                            (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <table class="table" mat-table [dataSource]="dataSource"
                       matSort [matSortActive]="sortBy" [matSortDirection]="sortDir" matSortDisableClear
                       (matSortChange)="sortTable($event)">

                    <ng-container matColumnDef="avatar">
                        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                        <td mat-cell *matCellDef="let rider;">
                            <img src="{{ rider.profilePicture }}" class="table__data__image"
                                 alt="{{ rider.lastName }} {{ rider.firstName }}">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName">Name</th>
                        <td mat-cell *matCellDef="let rider">{{ rider.lastName }} {{ rider.firstName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="nickName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nickname</th>
                        <td mat-cell *matCellDef="let rider">{{ rider.nickName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="division">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><span>Division</span></th>
                        <td mat-cell *matCellDef="let rider">
                            <mat-icon *ngIf="rider.division === 'male'" title="{{ rider.division | titlecase }}">male
                            </mat-icon>
                            <mat-icon *ngIf="rider.division === 'female'" title="{{ rider.division | titlecase }}">
                                female
                            </mat-icon>
                            <mat-icon *ngIf="rider.division === 'kid'" title="{{ rider.division | titlecase }}">
                                child_care
                            </mat-icon>
                            <span>{{ rider.division | titlecase }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                        <td mat-cell *matCellDef="let rider">
                            <button mat-icon-button title="Follow this rider" aria-label="Follow this rider"
                                    (click)="toggleFavorites(rider)">
                                <mat-icon *ngIf="isFavoriteRider(rider.id)" class="table__data__favorite">favorite
                                </mat-icon>
                                <mat-icon *ngIf="!isFavoriteRider(rider.id)">favorite_border</mat-icon>
                            </button>
                            <button mat-icon-button title="View rider profile" aria-label="View rider profile"
                                    routerLink="/riders/{{rider.id}}">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">No data matching the filter "{{ filter }}"</td>
                    </tr>
                </table>

                <mat-paginator [disabled]="length < 1"
                               [length]="length"
                               [pageIndex]="pageIndex"
                               [pageSize]="pageSize"
                               (page)="handlePage($event)"
                               [pageSizeOptions]="[10, 20, 50]"
                               showFirstLastButtons
                               aria-label="Select page of riders" class="paginator">
                </mat-paginator>
            </div>
        </main>

        <aside class="aside">
            <div class="aside__favorite">
                <h2 *ngIf="!favoriteRiders.length">
                    <mat-icon>favorite_border</mat-icon>
                    your favorite Riders!
                </h2>
                <h2 *ngIf="favoriteRiders.length">
                    Your
                    <mat-icon class="favorite">favorite</mat-icon>
                    Riders:
                </h2>
                <div class="aside__favorite-riders">
                    <rs-rider-card *ngFor="let rider of favoriteRiders" [rider]="rider"></rs-rider-card>
                </div>
            </div>
        </aside>
    </div>
</div>
