
$event-color: #3f51b5;
$event-width:1.5rem;
$ongoing-color: #bb4444;
$line-color: #b4bbe4;
$line-width: 0.1rem;

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
    min-height: 2rem;

    &__item{

        &__one{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            border-right: ($line-width / 2) solid $line-color;
        }

        &__two{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            border-left: ($line-width / 2) solid $line-color;
        }

        &__three{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            border-right: ($line-width / 2) solid $line-color;
        }

        &__four{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            border-left: ($line-width / 2) solid $line-color;
        }

        &__full{
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            margin: auto;
            background: $event-color;
            border-radius: 50%;
            height: 0;
            width: $event-width;
            padding-bottom: $event-width;
        }
    }
}

.ongoing{
    animation: ongoingAnimation 1s linear infinite;
}

@keyframes ongoingAnimation {
    50%{
        background-color: $ongoing-color;
    }
}

.noBorder{
    border: none;
}
