<mat-tab-group [selectedIndex]="selectedTabIndex">
    <ng-container *ngIf="competition">
        <mat-tab *ngFor="let round of competition.rounds; let roundIndex = index" [label]="getRoundLabel(roundIndex)" [disabled]="round.riders.length === 0">
            <div class="competition-container">
                <rs-round
                    [round]="round"
                    [isFinalRound]="round.id === competition.rounds.length-1"
                    (finishedRound)="onFinishedRound($event)"></rs-round>
            </div>
        </mat-tab>
    </ng-container>
</mat-tab-group>
