@import "responsive";
@import "variables";

.competition-container {
    padding: 1rem 2rem;

    @include respond(small) {
        padding: .1rem;
    }
}

.switch-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &__view {
        margin-right: 1rem;
    }

    &__item {
        border-radius: 4px;
        margin-right: 1rem;

        &--disabled {
            background-color: darken($color-grey-light-2, 15);
            color: $color-white !important;
        }
    }


}
