@import "variables";

@mixin title {
    font-size: 2rem;
}

@mixin secondary-title {
    font-size: 1.5rem;
}

@mixin text {
    font-size: 0.875rem;
}

@mixin text-small {
    font-size: .625rem;
}

@mixin bottom-space {
    margin-bottom: 3rem;
}

@mixin aside-default {
    flex: 30%;
    margin: 3rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    color: $color-primary;

    @include respond(small) {
        margin: .5rem;

    }

    @include respond(medium) {
        flex: 100%;

    }
    & > * {
        margin: 1rem;
        padding: .5rem;
        border-radius: 4px;
    }



}
