$color-primary: #3f51b5;
$color-warn: #FFC107;
$color-error: #F44336;
$color-water: #00BFFF;

$color-text-1: #1a1a1a;
$color-text-2: #808080;
$color-text-3: #333;
$color-text-4: #ccc;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-male: #01bcd4;
$color-female: #cf8cbe;
$color-kids: #9cda53;

$color-favorite: #f44336;

