@import "mixins";
@import "responsive";

.container{
    display: flex;
    flex-direction: row;
    width: 100%;

    @include respond(small) {
        flex-direction: column;

        @include bottom-space;
    }

    & .overview {
        flex: 25%;
        padding: 1rem;

        @include respond(small) {
            flex: 100%
        }
    }

    & .details {
        flex: 75%;
        padding: 1rem;
        overflow: hidden;

        @include respond(small) {
            flex: 100%
        }

    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
