<div cdkDropListGroup class="container">
    <mat-card class="round">
        <div class="round__header">
            <h1 *ngIf="round.id === 0">Seeding round</h1>
            <h1 *ngIf="round.id !== 0">Round {{round.id}}</h1>
            <div class="round__header-buttons">
                <button mat-raised-button color="primary" *ngIf="hasNoHeatStarted()" (click)="automaticallyAssignRiders()">
                    Assign Riders Randomly
                </button>
                <button mat-raised-button (click)="revert()" *ngIf="hasNoHeatStarted()">Revert</button>
                <button mat-raised-button color="primary"  [disabled]="hasNextRound || !areAllHeatsFinished" *ngIf="!isFinalRound"
                        (click)="moveToNextRound(round.id)">
                    Move to next round
                </button>
                <button mat-raised-button color="primary"  [disabled]="!areAllHeatsFinished"
                        *ngIf="isFinalRound"
                        (click)="finishCompetition()">
                    Finish Competition
                </button>
            </div>
        </div>
        <div class="round__container">
            <div class="round__container__element round__container__element--30" *ngIf="unassignedRiders.length">
                <h2>Unassigned riders</h2>
                <div cdkDropList [cdkDropListData]="unassignedRiders" class="round__riders"
                     (cdkDropListDropped)="drop($event)" id="unassignedRiders">
                    <div class="round__riders__single-rider" *ngFor="let rider of unassignedRiders" cdkDrag>
                        <rs-rider-result [riderId]="rider" [isEditMode]="true" resultType="default"></rs-rider-result>
                    </div>
                </div>
            </div>
            <div class="round__container__element round__container__element--70">
                <h2>Heats</h2>
                <div class="round__heat__container">
                    <rs-heat *ngFor="let heat of round.heats"
                             [heat]=heat
                             [hasUnassignedRiders]="unassignedRiders.length > 0"
                             [maxRidersInHeat]="maxRidersInHeat"
                             (drop)="drop($event)"
                             (statusChange)="handleStatusChange($event)"
                             class="round__heat"
                    >
                    </rs-heat>
                </div>
            </div>
        </div>
    </mat-card>
</div>
