.container{
    padding: 1rem;
    min-width: 25vw;
}

.round{
    display: flex;
    flex-direction: column;

    &__header{
        align-self: center;
        padding: 1rem;
    }

    &__container{
        display: flex;
        flex-direction: row;
        padding: 1rem;

        & > *{
            width: 50%;
        }

        &__element{
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
    }

    &__riders{
        padding: 0.5rem;
        background: lightblue;

        &__single-rider{
            padding: 0.5rem;
            background: deepskyblue;
            width: 100%;
        }
    }
}
