@import "../../../../../assets/scss/_mixins";
@import "../../../../../assets/scss/_variables";
@import "../../../../../assets/scss/_responsive";

.container {
    padding: 0.5rem;
    min-width: 25vw;

    @include respond(small) {
        min-width: auto;
    }
}

.round {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        padding: 0.5rem;
        width: 100%;
        text-align: center;

        &-buttons {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        flex-wrap: nowrap;


        &__element {
            display: flex;
            flex-direction: column;
            margin: 1rem;

            h2 {
                text-align: center;
                color: $color-primary;
            }
        }
    }

    &__heat {
        margin: .5rem;
        border: 1px solid $color-primary;

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1rem .5rem;


            &-title {
            }

            &-counter {
                text-align: right;
                color: $color-grey-dark-1;
                @include text-small;
            }

        }
    }

    &__riders {
        padding: 1rem;

        &__single-rider {
            margin: 0.5rem 0;
            width: 100%;
            cursor: pointer;
            outline: none;

            &--placeholder {
                text-align: center;
                font-style: italic;
                color: $color-grey-dark-2;
                padding: 1rem;
                border: 1px dashed $color-primary;
                border-radius: 10px;
                min-width: 250px;
            }
        }
    }
}
