.event__card {
  max-width: 400px;
  cursor: pointer;

  &__header {
    position: relative;

    &__date {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__headerimage {
    background-size: cover;
    /*background-image: url("https://riversurfstorage.blob.core.windows.net/eventimages/logo_event1.jpg"); */

  }
}
