@import "../../../assets/scss/_mixins";
@import "../../../assets/scss/_responsive";

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    @include bottom-space;

    @include respond(medium) {
        flex-direction: column;
    }

    & .main {
        flex: 70%;
        padding: 2rem;

        @include respond(medium) {
            flex: 100%
        }


        & .events {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            row-gap: 5rem;
            column-gap: 1rem;

            @include respond(small) {
                grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            }
        }
    }

    & .aside {
        @include aside-default;

        & .rider__cards {
            @include respond(medium) {
                display: grid;
                row-gap: 1rem;
                column-gap: 1rem;
                grid-template-columns: repeat(2, 1fr);
            }

            @include respond(small) {
                display: block;
                grid-template-columns: none;
            }

        }
    }

}





