<div class="content">
    <main class="main">
        <h2>Upcoming Events</h2>
        <div class="events">
            <surf-carousel *ngIf="smallScreen" [startIndex]="2">
                <ng-container *ngFor="let surfEvent of events">
                    <surf-event-card [surfEvent]="surfEvent" *carousel-item></surf-event-card>
                </ng-container>
            </surf-carousel>
            <ng-container *ngIf="!smallScreen">
                <ng-container *ngFor="let surfEvent of events">
                    <surf-event-card [surfEvent]="surfEvent"></surf-event-card>
                </ng-container>
            </ng-container>
        </div>
    </main>
    <aside class="aside">
        <h2>Some Awesome Riders</h2>
        <div class="rider__cards">
            <surf-rider-card *ngFor="let rider of riders" [rider]="rider"></surf-rider-card>
        </div>
    </aside>
</div>
<div class="map">
    <h1>Some Awesome Locations</h1>
    <img style="max-width: 100%" src="https://miro.medium.com/max/700/1*dUrRzzu4Mm4DMjH2jvmurQ.png" alt="">
</div>
