<a routerLink="/event/{{surfEvent.name | slugify}}-{{ surfEvent.id }}">
    <mat-card class="event__card">
        <mat-card-header class="event__card__header">
            <div mat-card-avatar [style.background-image]="'url(' + surfEvent.logo + ')'"
                 class="event__card__headerimage"></div>
            <mat-card-title>{{surfEvent.name}}</mat-card-title>
            <mat-card-subtitle>{{surfEvent.location}}</mat-card-subtitle>
            <mat-card-subtitle>{{surfEvent.startDateTime | date:'dd.MM.YYYY'}}</mat-card-subtitle>
        </mat-card-header>
        <img draggable="false" mat-card-image src="{{surfEvent.mainPicture}}"
             alt="{{surfEvent.name}}">
        <mat-card-content>
            <p>
                {{surfEvent.description}}
            </p>
        </mat-card-content>
        <div class="event__card__division">
            <ng-container *ngIf="!isUpcomingSurfEvent">
                <a mat-raised-button
                   *ngFor="let division of surfEvent.divisions"
                   class="division-{{division}}"
                   (click)="onClick($event)"
                   routerLink="/event/{{surfEvent.name | slugify}}-{{surfEvent.id}}/competition/{{ division }}">
                    <mat-icon>{{division | divisionIcon}}</mat-icon>
                    {{division | titlecase}}
                </a>
            </ng-container>
            <ng-container *ngIf="isUpcomingSurfEvent">
                <a mat-stroked-button
                   *ngFor="let division of surfEvent.divisions"
                   class="division-{{division}} division-disabled">
                    <mat-icon>{{division | divisionIcon}}</mat-icon>
                    {{division | titlecase}}
                </a>
            </ng-container>
        </div>
    </mat-card>
</a>
