<div class="content">
    <main class="main">
        <h2>Check out our <span class="underline">Jams</span></h2>
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
            <mat-tab *ngIf="currentSurfEvents$ | async as currentSurfEvents" label="Current"
                     class="main__tab-body">
                <div class="events">
                    <rs-carousel *ngIf="smallScreen" [index]="currentEvent" [auto]="false">
                        <ng-container *ngFor="let surfEvent of currentSurfEvents">
                            <rs-event-card [surfEvent]="surfEvent" *rs-carousel-item></rs-event-card>
                        </ng-container>
                    </rs-carousel>
                    <ng-container *ngIf="!smallScreen">
                        <ng-container *ngFor="let surfEvent of currentSurfEvents">
                            <rs-event-card [surfEvent]="surfEvent"></rs-event-card>
                        </ng-container>
                    </ng-container>
                </div>
            </mat-tab>


            <mat-tab *ngIf="upcomingSurfEvents$ | async as upcomingSurfEvents" label="Next">
                <div class="events">
                    <rs-carousel *ngIf="smallScreen" [index]="currentEvent" [auto]="false">
                        <ng-container *ngFor="let surfEvent of upcomingSurfEvents">
                            <rs-event-card [surfEvent]="surfEvent" *rs-carousel-item></rs-event-card>
                        </ng-container>
                    </rs-carousel>
                    <ng-container *ngIf="!smallScreen">
                        <ng-container *ngFor="let surfEvent of upcomingSurfEvents">
                            <rs-event-card [surfEvent]="surfEvent"></rs-event-card>
                        </ng-container>
                    </ng-container>
                </div>
            </mat-tab>

            <mat-tab *ngIf="pastSurfEvents$ | async as pastSurfEvents" label="Previous">
                <div class="events">
                    <rs-carousel *ngIf="smallScreen" [index]="currentEvent" [auto]="false">
                        <ng-container *ngFor="let surfEvent of pastSurfEvents">
                            <rs-event-card [surfEvent]="surfEvent" *rs-carousel-item></rs-event-card>
                        </ng-container>
                    </rs-carousel>
                    <ng-container *ngIf="!smallScreen">
                        <ng-container *ngFor="let surfEvent of pastSurfEvents">
                            <rs-event-card [surfEvent]="surfEvent"></rs-event-card>
                        </ng-container>
                    </ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>
    </main>

    <aside class="aside">
        <h2>Check out our <span class="underline">awesome Riders</span></h2>
        <mat-spinner *ngIf="isLoadingRandomRiders" diameter="40"></mat-spinner>
        <div *ngIf="!isLoadingRandomRiders && randomRiders.length">
            <div class="rider__cards">
                <rs-rider-card *ngFor="let rider of randomRiders" [rider]="rider"></rs-rider-card>
            </div>
        </div>
    </aside>
</div>

<ng-container *ngIf="upcomingSurfEvents$ | async as upcomingSurfEvents">
    <div *ngIf="!isOffline" class="map">
        <h2>Where to find <span class="underline">our Jams</span></h2>
        <div class="event__map">
            <google-map
                width="100%"
                height="500px"
                [center]="{lat: 46.9332651, lng: 7.497035}"
                [zoom]="mapZoom"
                [options]="mapOptions">
                <ng-container *ngIf="upcomingSurfEvents">
                <map-marker *ngFor="let upcomingSurfEvent of upcomingSurfEvents"
                            [position]="{lat: upcomingSurfEvent.locationLat, lng: upcomingSurfEvent.locationLong}"
                            [title]="upcomingSurfEvent.name"
                            (mapClick)="goToSurfEvent(upcomingSurfEvent)">
                </map-marker>
                </ng-container>
                <ng-container *ngIf="currentSurfEvents$ | async as currentSurfEvents">
                    <map-marker *ngFor="let currentSurfEvent of currentSurfEvents"
                                [position]="{lat: currentSurfEvent.locationLat, lng: currentSurfEvent.locationLong}"
                                [title]="currentSurfEvent.name"
                                (mapClick)="goToSurfEvent(currentSurfEvent)">
                    </map-marker>
                </ng-container>
                <map-info-window>{{ mapInfoContent }}</map-info-window>
            </google-map>
        </div>
    </div>
</ng-container>
