<mat-card routerLink="/riders/{{ rider.nickName + '-' + rider.id | slugify }}" class="rider__card">
    <mat-card-header class="rider__card__header">
        <div mat-card-avatar
             class="rider__card__header__image"
             [style.background-image]="'url(' + rider.profilePicture + ')'"></div>
        <mat-card-title>{{ rider.firstName }} {{ rider.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ rider.division | titlecase }}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
