.rider__card {
    cursor: pointer;
    margin-bottom: .5rem;
    display: flex;
    outline: none;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
        transform: translateY(2px);
    }

    &__header {
        flex: 90%;

        &__image {
            background-position: center;
            background-size: contain;
            transition: .5s all;
        }

        &__subtitle {
            & mat-icon {
                vertical-align: middle;
                margin-right: 0.5rem;
            }
        }
    }

    &__content {
        flex: 10%;
        text-align: right;
    }
}
