

.rider__card {
  cursor: pointer;
  margin-bottom: .5rem;


  &__header {
    &__image {
      background-position: center;
      background-size: contain;
      transition: .5s all;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
