@import "responsive";
@import "variables";

.rider__card {
    display: flex;
    justify-content: space-between;
    transition: all .2s;

    @include respond(small) {
        margin: .3rem;
    }

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
        transform: translateY(2px);
    }

    &__header {

        &__image {
            background-position: center;
            background-size: cover;
            transition: .5s all;
            border: 3px solid;
        }
    }

    &__content {
        display: flex;
        align-items: center;
    }


    &__name {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
    }

    &__nickname {
        font-size: .8rem;
        font-weight: normal;
        margin: 0;
    }

    &__icon {
        margin: 0;
    }

    &__input-container {
        display: flex;
        align-items: center;
    }

    &__input {
        width: 60px;
        height: 40px;
        border: none;
        border-bottom: 2px solid $color-primary;
        text-align: center;
        font-size: 1.5rem;
        color: $color-primary;
        transition: all .3s;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__points {
        color: $color-white;
        font-weight: 800;

        &-container {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: $color_primary;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__type {
        color: $color-primary;
    }
}

.no-hover{
    &:hover {
        transform: none;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    }

    &:active {
        transform: none;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.invalid {
    border: 2px solid #f44336;
    border-radius: 4px;
}

.result {
    height: 50px;
    padding: 2px;
    align-items: center;
}

.highlighted {
    border: 2px solid $color-primary;
}

.fade-out {
    opacity: .5;
}
