@import "../../../../../../assets/scss/_variables";

.rider__card {
    display: flex;
    justify-content: space-between;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
        transform: translateY(2px);
    }

    &__header {

        &__image {
            background-position: center;
            background-size: contain;
            transition: .5s all;
            border: 3px solid;
        }
    }

    &__content {
    }


    &__name {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
    }

    &__icon {
        margin: 0;
    }

    &__input {
        width: 40px;
        height: 40px;
        border: none;
        border-bottom: 1px solid $color-primary;
        text-align: right;
        font-size: 1.5rem;
        color: $color-primary
    }

    &__type {
        color: $color-primary;
    }
}
