@import "mixins";
@import "responsive";
@import "variables";

* {
    margin: 0;
    padding: 0;
}

*,
::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    //font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
    html {
        // font-size: 50%;
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    @include title;
}

h2 {
    @include secondary-title;
}

snack-bar-container {
    &.success,
    &.warning,
    &.error {
        margin-top: 5rem;
        z-index: 20;
        text-transform: uppercase;
        background-color: white;

        @include respond(small) {
            margin-top: 1.2rem;
        }
    }

    &.success {
        color: $color-white;
        background-color: $color-success;

        .mat-simple-snackbar-action > button {
            color: $color-white;
        }
    }

    &.warning {
        color: $color-text-1;
        background-color: $color-warn;

        .mat-simple-snackbar-action > button {
            color: $color-text-1;
        }
    }

    &.error {
        color: $color-white;
        background-color: $color-error;

        .mat-simple-snackbar-action > button {
            color: $color-white;
        }
    }
}

.division-male {
    background-color: $color-male;
    color: $color-white;
}

.division-female {
    background-color: $color-female;
    color: $color-white;
}
.division-kid {
    background-color: $color-kids;
    color: $color-white;
}


.notification-dialog {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    height: 100%;

    @include respond(small) {
        max-width: 100vw !important;
        max-height: 100vh;
    }
}

.timeline-container .mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0;
}

.header__search__results {
    margin-top: 13px;
    max-height: 50%;

    &-small {
        color: $color-grey-dark-2;
        font-size: .75rem;
        margin-left: .75rem;
    }

    mat-icon {
        color: $color-primary;
    }
}
