@import "../../../../../assets/scss/_variables";
@import "../../../../../assets/scss/_responsive";
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-primary;
    color: $color-white;
    padding: 3rem;
    @include respond(small) {
        padding: 1rem;
    }

    & > * {
        margin: 1.5rem 0;
    }

    &__header {
        margin: auto;
        text-align: center;

        img {
            padding: .5rem;
            background-color: $color-white;
            display: block;
            height: 100%;
            max-width: 200px;
            border-radius: 50%;
            margin: auto;
        }
    }

    &__social{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;

        &__element {
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            @include respond(small) {
                font-size: 1rem;
            }
        }

    }

    &__rider-info {
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 1rem;
        }
    }

    &__attribute{
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;

        & a, & a:active {
            text-decoration: none;
            color: $color-white;
        }

        @include respond(small) {
            font-size: 1rem;
        }

    }

}
