@import "responsive";
@import "mixins";

.container {
    display: flex;
    flex-direction: row-reverse;

    &__icon {
        align-self: center;

        mat-icon {
            vertical-align: middle;
            cursor: pointer;
        }
    }
}

.dialog-container {
    display: flex;
    height: 100%;
    flex-direction: column;

    &__content {
        flex-shrink: 5;
    }

    &__icon {
        @include respond(small) {
            .mat-icon-button {
                transform: scale(0.75);
            }
        }
    }

    &__timestamp {
        margin: 0 0.5rem;
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        @include respond(small) {
            white-space: inherit;
        }

        &__time {
            font-size: larger;

            @include respond(small) {
                font-size: inherit;
            }

        }

        &__date {
            font-style: italic;
            font-size: smaller;
            color: grey;
        }
    }

    &__message {
        margin: 0 0.5rem;
        vertical-align: top;
        text-align: left;
    }

    &__link {
        @include respond(small) {
            .mat-icon-button {
                transform: scale(0.75);
            }
        }
    }

    &__spacer {
        flex-grow: 1;
    }

    &__actions {
        justify-content: center;
        margin: 0;

        &-buttons {
            display: flex;
            flex-direction: row;

            button {
                margin: 0.5rem 1rem;
            }

            mat-icon {
                margin: 0 0.5rem;
            }

            span {
                @include respond(medium) {
                    display: none;
                }
                @include respond(small) {
                    display: none;
                }
            }
        }
    }

    .mat-column-content {
        width: 100%;
    }
}

.underline {
    @include underline-magical;
}
