<div class="container">
    <div class="container__icon">
        <mat-icon [matBadge]="newNotifications | newUserNotifications" matBadgeColor="warn" (click)="openDialog()"
                  [matBadgeHidden]="!newNotifications">notifications
        </mat-icon>
    </div>
</div>
<ng-template #dialogTemplate>
    <div class="dialog-container">
        <h2 mat-dialog-title>Notifications</h2>
        <mat-dialog-content #dialogContent class="dialog-container__content">
            <p *ngIf="userNotifications.data.length === 0">No notifications yet.</p>
            <table *ngIf="userNotifications.data.length > 0" mat-table [dataSource]="userNotifications">
                <ng-container matColumnDef="icon">
                    <th mat-header-cell *matHeaderCellDef>New</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="dialog-container__icon">
                            <button mat-icon-button *ngIf="!element.read" (click)="markAsRead(element)">
                                <mat-icon>message</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef>Time</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="dialog-container__timestamp">
                            <div class="dialog-container__timestamp__time">
                                {{element.timestamp | date:'HH:mm:ss'}}
                            </div>
                            <div class="dialog-container__timestamp__date">
                                {{element.timestamp | date:'d MMMM YYYY'}}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="content">
                    <th mat-header-cell *matHeaderCellDef>Notification</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="dialog-container__message">
                            {{element.content}}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef>Link</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="dialog-container__link">
                            <button mat-icon-button *ngIf="element.link" [routerLink]="element.link"
                                    tabindex="-1" (click)="markAsRead(element)" matDialogClose>
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['icon','timestamp','content','link']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['icon','timestamp','content','link'];"></tr>
            </table>
        </mat-dialog-content>
        <div class="dialog-container__spacer"></div>
        <mat-dialog-actions class="dialog-container__actions">
            <mat-paginator *ngIf="userNotifications.data.length > 10" [pageSizeOptions]="[10, 20, 50, 100]"
                           showFirstLastButtons>
            </mat-paginator>
            <div class="dialog-container__actions-buttons">
                <button mat-raised-button mat-dialog-close (click)="clearAllMessages()">
                    <mat-icon>delete</mat-icon>
                    <span>Clear messages</span>
                </button>
                <button mat-raised-button mat-dialog-close (click)="markAllAsRead()">
                    <mat-icon>message</mat-icon>
                    <span>Mark all as read</span>
                </button>
                <button mat-raised-button mat-dialog-close color="primary" cdkTrapFocus>
                    Close
                </button>
            </div>
        </mat-dialog-actions>
    </div>
</ng-template>
