@import "src/assets/scss/responsive";

.container {
    display: flex;
    flex-direction: row-reverse;

    @include respond(small) {
        display: none;
    }

    &__icon {
        align-self: center;
        padding: 0 1rem;

        mat-icon{
            vertical-align: middle;
            cursor: pointer;
        }
    }
}

.notification{
    display: flex;

    &__timestamp{
        font-style: italic;
    }

    &__content{

    }

    &__link{

    }
}

.new{
    color: lime;
}

mat-dialog-actions{
    justify-content: center;
}
