<div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="event" *ngIf="!isLoading">
    <div class="event__details">
        <mat-card>
            <img class="event__details-logo" src="{{surfEvent.logo}}" alt="event logo">
            <h1>{{surfEvent.name}}</h1>
            <dl>
                <dt>Description</dt>
                <dd>{{surfEvent.description}}</dd>
                <dt>Start</dt>
                <dd>{{surfEvent.startDateTime | date:'d MMMM YYYY HH:mm'}}</dd>
                <dt>End</dt>
                <dd>{{surfEvent.endDateTime | date:'d MMMM YYYY HH:mm'}}</dd>
                <dt>Location</dt>
                <dd>{{surfEvent.location}}</dd>
                <dt>Hashtag</dt>
                <dd>
                    <a href="https://www.instagram.com/explore/tags/{{surfEvent.hashTag}}"
                       target="_blank" rel="noopener noreferrer">
                        #{{surfEvent.hashTag}}
                    </a>
                </dd>
            </dl>
        </mat-card>
    </div>
    <div class="event__images">
        <div class="event__images__slideshow">
            <img class="event__images__slideshow-image" src="{{surfEvent.mainPicture}}" alt="event images"/>
        </div>
    </div>
    <div class="event__divisions">
        <div *ngIf="surfEvent.divisions.length" class="event__divisions__selection">
            <h2>Competitions</h2>
            <a mat-raised-button
               *ngFor="let division of surfEvent.divisions"
               class="division-{{division}}"
               routerLink="/event/{{surfEvent.name | slugify}}-{{surfEvent.id}}/competition/{{ division }}">
                {{division | titlecase}}
            </a>
        </div>
        <ng-container *ngIf="enrolledRiders$ | async as enrolledRiders">
            <div class="event__divisions__riders">
                <h2>Riders in Action</h2>
                <a *ngFor="let rider of enrolledRiders"
                   routerLink="/riders/{{ rider.nickName + '-' + rider.id | slugify }}">
                    <div title="{{rider.firstName}} {{rider.lastName}} ({{rider.division | titlecase}})"
                         class="event__divisions__riders__avatar"
                         [style.background-image]="'url(' + rider.profilePicture + ')'"
                         [ngStyle]="{'border-color': rider.division | divisionColor}">
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</div>

<div *ngIf="!isLoading" class="event__map">
    <google-map
        width="100%"
        height="500px"
        [center]="{lat: surfEvent.locationLat, lng: surfEvent.locationLong}"
        [zoom]="mapZoom"
        [options]="mapOptions">
        <map-marker
            [position]="{lat: surfEvent.locationLat, lng: surfEvent.locationLong}"
            [title]="surfEvent.name">
        </map-marker>
    </google-map>
</div>
