@import "src/assets/scss/responsive";
@import "src/assets/scss/mixins";

.event{
    display: flex;
    flex-direction: row;
    width: 100%;

    h1, h2{
        padding-bottom: 0.5rem;
    }

    @include respond(medium) {
        flex-direction: column;
    }

    &__details{
        flex: 70%;
        padding: 2rem;

        @include respond(medium) {
            flex: 100%;
        }

        &__header{

            dl > dd{
                padding: 1rem;
            }

            dt{
                font-weight: bold;
            }

            &-logo{
                width: 100%;
            }

        }
    }

    &__divisions{
        flex: 30%;
        padding: 2rem;

        @include respond(medium) {
            flex: 100%;
        }

        &__selection{
            padding-bottom: 0.5rem;

            mat-chip{
                cursor: pointer;
            }
        }

        &__riders{
            padding-bottom: 0.5rem;

            & rs-carousel {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    &__map{
        flex: 100%;
        padding: 2rem;

        @include bottom-space;

        iframe {
            height: 500px;
            width: 100%;
            border: none;
        }
    }
}
