<div class="navigation">

    <div class="navigation__notification">
        <rs-notification></rs-notification>
    </div>

    <div class="navigation__logout" (click)="logout()" *ngIf="loggedIn">
        <mat-icon>logout</mat-icon>
    </div>

    <input type="checkbox" class="navigation__checkbox" id="navi-toggle" #navigationToggler [checked]="isChecked"
           (change)="toggleScrolling(false)">
    <label for="navi-toggle" class="navigation__button">
        <mat-icon>menu</mat-icon>
    </label>

    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item" routerLink="/" (click)="toggleScrolling(true)">
                <div class="navigation__link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-route">
                    <mat-icon>event_note</mat-icon>
                    <span>Events</span></div>
            </li>
            <li class="navigation__item" routerLink="/riders" (click)="toggleScrolling(true)">
                <div class="navigation__link" [routerLinkActiveOptions]="{exact: false}"
                     routerLinkActive="active-route">
                    <mat-icon>surfing</mat-icon>
                    <span>Riders</span></div>
            </li>
            <li class="navigation__item" routerLink="/login" (click)="toggleScrolling(true)" *ngIf="!loggedIn">
                <div class="navigation__link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-route">
                    <mat-icon>lock</mat-icon>
                    <span>Login</span></div>
            </li>
            <li class="navigation__item" routerLink="/login" (click)="toggleScrolling(true); logout()">
                <div class="navigation__link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-route">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span></div>
            </li>
            <li class="navigation__item">
                <div class="navigation__notification-menu">
                    <rs-notification></rs-notification>
                </div>
            </li>
        </ul>
    </nav>
</div>
