<div class="error-container">
    <div class="error-container__message">
        This is the message
    </div>
    <div class="error-container__history">
        <div class="error-containter__history-item">
            This is the history 1
        </div>
        <div class="error-containter__history-item">
            This is the history 2
        </div>
        <div class="error-containter__history-item">
            This is the history 3
        </div>
    </div>
    <div class="error-container__game">
        This is the game
    </div>
</div>
