@import "responsive";
@import "mixins";

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;

    @include respond(small) {
        margin: 0.5rem;
        @include bottom-space;
    }

    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 1rem;
    }

    &__animation {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-rider {
            animation-name: rideInAndSink;
            animation-duration: 6s;
            animation-fill-mode: forwards;
        }

        &-waves {
            position: relative;
            top: -15px;
        }
    }

    &__history {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        &-item {
            margin: 1rem;
            flex: 30%;
            cursor: pointer;

            @include respond(small) {
                flex: 100%;
            }

            mat-card {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            &:hover {
                transform: scale(1.01);
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
            }

            &:active {
                transform: translateY(2px);
            }
        }

        @include respond(small) {
            flex-direction: column;
        }
    }
}

.underline {
    @include underline-magical;
}

@keyframes rideInAndSink {
    0% {
        transform: translateX(-200%)
    }
    50% {
        transform: translateX(50%) translateY(0);
        opacity: 1;
    }
    60% {
        transform: rotate(-45deg) translateY(50%) translateX(-50%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(125%) rotate(-10deg);
        opacity: 0.5;
    }
}
