@use "sass:math";
@import "src/assets/scss/variables";

$event-color: #3f51b5;
$event-width: 1.5rem;
$ongoing-color: #bb4444;
$line-color: #b4bbe4;
$line-width: 0.1rem;

.container {

    width: 80px;
    height: 100%;

    svg{
        stroke: $event-color;
        height: 100%;
        width: 100%;

        line{
            stroke-width: 2;
            vector-effect: non-scaling-stroke;
        }

        .info{
            stroke-width: 2;
            vector-effect: non-scaling-stroke;
            stroke-dasharray: 2 2;
        }

        circle{
            fill: $event-color;
            vector-effect: non-scaling-stroke;
        }

        .ongoing {
            fill: $event-color;
            vector-effect: non-scaling-stroke;
            animation: ongoingAnimation 1s linear infinite;
        }
    }
}

@keyframes ongoingAnimation {
    50% {
        fill: $ongoing-color;
    }
}
