@import "mixins";
@import "responsive";
@import "variables";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    @include respond(small) {
        background-color: transparent;
        display: block;
        height: 0;
    }

    &__logo {
        flex: 1 1;
        cursor: pointer;
        outline: none;

        @include respond(small) {
            display: none;
        }

        h1 {
            display: inline;
        }

        svg {
            margin-right: 1rem;
            vertical-align: middle;
        }
    }

    &__search {
        flex: 3 1;
        display: flex;
        justify-content: center;

        @include respond(small) {
            display: none;
        }



        @include respond(small) {
            display: none;
        }
    }

    rs-navigation {
        flex: 1 1;
        text-align: end;

        @include respond(small) {
            background-color: $color-primary;
            bottom: 0;
            left: 0;
            position: fixed;
            width: 100%;
            z-index: 50;
        }
    }
}

