@import "../../../../assets/scss/_variables";

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: -1;
    width: 100%;
    height: 100%;
}

circle {
    stroke-width: 1px;
    stroke: $color-grey-light-1;
    fill: $color-primary;
}

path {
    transition: all .2s;
    fill: transparent;
    stroke-width: 2px;
    stroke: darken($color-grey-light-1, 10);
}

.highlighted {
    stroke: $color-primary;
    z-index: 10;

    & > * {
        stroke: $color-primary;
    }
}

.fade-out {
    stroke: $color-grey-light-1;
    display: none;;
}
