@import "responsive";
@import "variables";

.competition-container {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;


    @include respond(small) {
        flex-direction: column;
        padding: .5rem;
        gap: .5rem;
    }

    .division-selector {
        border: none;

        &__item {
            color: $color-white;
            margin-right: 1rem;
            border-radius: 4px;

            &--male {
                background-color: $color-male;
            }

            &--female {
                background-color: $color-female;
            }

            &--kids {
                background-color: $color-kids;
            }

            &--disabled {
                background-color: darken($color-grey-light-2, 15);
            }
        }
    }
}
.result-container {
    display: flex;
    justify-content: space-around;

    @include respond(small) {
        flex-direction: column;
        flex: 100%;
    }


}

.round {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1.5rem;

    @include respond(small) {
        overflow: hidden;

        &:last-of-type {
            margin-bottom: 3rem;
        }
    }

    & rs-carousel {
        width: 100%;
        max-width: 100%;
    }

    &__title {
        font-size: 1rem;
    }
}

.heat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid $color-grey-light-2;
    border-radius: 4px;
    font-size: .8rem;

    &__title {
        padding: .2rem 0.5rem;
        border-radius: 4px;
        background-color: $color-primary;
        color: $color-white;
        transform: translateY(-50%);
    }
}

.rider {
    width: 250px;
    margin-bottom: .2rem;
    cursor: pointer;

    &:last-of-type {
        margin-bottom: .5rem;
    }
}

.relative-container {
    position: relative;
}

qr-code {
    position: absolute;
    bottom: 10px;
    right: 10px;

    @include respond(small) {
        display: none;
    }
}
