@import "responsive";
@import "mixins";
@import "variables";

.competition-container {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;


    @include respond(small) {
        flex-direction: column;
        padding: .5rem;
        gap: .5rem;
    }

    a {
        text-decoration: none;
    }

    .division-selector {
        border: none;

        &__item {
            color: $color-white;
            margin-right: 1rem;
            border-radius: 4px;

            &--male {
                background-color: $color-male;
            }

            &--female {
                background-color: $color-female;
            }

            &--kids {
                background-color: $color-kids;
            }

            &--disabled {
                background-color: darken($color-grey-light-2, 15);
            }
        }
    }
}

.result-container {
    display: flex;
    justify-content: space-between;

    &::before, &::after {
        content: '';
    }

    @include respond(small) {
        flex-direction: column;
        flex: 100%;
    }
}

.round {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1.5rem;

    @include respond(small) {
        overflow: hidden;

        &:last-of-type {
            margin-bottom: 3rem;
        }
    }

    & rs-carousel {
        width: 100%;
        max-width: 100%;
    }

    &__title {
        font-size: 1rem;
    }
}

.heat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid $color-grey-light-2;
    border-radius: 4px;
    font-size: .8rem;

    &__title {
        padding: .2rem 0.5rem;
        border-radius: 4px;
        background-color: $color-primary;
        color: $color-white;
        transform: translateY(-50%);
    }
}

.rider {
    width: 250px;
    margin-bottom: .2rem;
    cursor: pointer;

    &:last-of-type {
        margin-bottom: .5rem;
    }
}

.relative-container {
    position: relative;
    overflow-x: auto;
}

.weather-qr-code-container {
    display: flex;
    flex: 100%;
    flex-direction: row-reverse;
    padding: 1rem;
    justify-content: center;
    @include bottom-space;

    @include respond(small) {
        margin-bottom: 5rem;
    }

    @include for-medium-and-large() {
        gap: 1.5rem;
    }

    @include for-large() {
        position: absolute;
        bottom: 10px;
        right: 10px;
        margin: 0;
    }

    rs-weather {
        margin-top: .7rem;
        max-width: 450px;
        min-width: 300px;
    }

    qr-code {
        display: none;

        @include for-medium-and-large() {
            display: inline-block;
        }
    }
}

.underline {
    @include underline-magical;
}
