<div class="carousel">
    <ul #carouselList
        (panleft)="onPan($event)"
        (panright)="onPan($event)"
        (panend)="onPanEnd($event)"
        (pancancel)="onPanCancel($event)"
        [style.touch-action]="'pan-y'"
    >
        <li *ngFor="let element of elements" #carouselListItem

        >
            <div class="elementwrapper">
                <ng-container [ngTemplateOutlet]="element.el"></ng-container>
            </div>
        </li>
    </ul>
    <button
        *ngIf="showControls"
        [disabled]="currentIndex === 0"
        (click)="goToPrevious()"
    >
        <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <button
        *ngIf="showControls"
        [disabled]="currentIndex >= elements.length -1"
        (click)="goToNex()"
    >
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</div>
