@import "variables";

.carousel {
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;

    & .button__container {
        height: 85%;
        width: 20%;
        position: absolute;
        display: flex;
        align-items: center;

        &:first-of-type {
            left: 0;
            top: 0;
        }

        &:last-of-type {
            right: 0;
            top: 0;
        }

        & button {
            position: absolute;
            background: transparent;
            cursor: pointer;
            outline: none;
            border: none;
            transition: all 0.3s ease;

            & mat-icon {
                height: 60px;
                width: 60px;
                font-size: 60px;
                color: $color-primary;

            }

            &:disabled {
                opacity: 0.2;
            }
        }
    }

    & ul {
        display: flex;
        max-width: 100%;
    }

    & li {
        list-style: none;
        max-width: 100%;
        opacity: 0.4;
        transition: opacity 600ms ease-in-out;

        &.focus {
            opacity: 1;
        }

        & .elementwrapper {
            margin: 0.8rem;
        }
    }
}
