<div class="">
    <mat-button-toggle-group class="statistic-bar" [(ngModel)]="division" aria-label="Division"
                             (change)="toggleDivision()">
        <mat-button-toggle value="male" class="statistic-bar__item statistic-bar__item--male">
            <mat-icon class="statistic-bar__item__icon">male</mat-icon>
            <div class="statistic-bar__item__info">
                <h2>40 Men</h2>
            </div>
        </mat-button-toggle>
        <mat-button-toggle value="female" class="statistic-bar__item statistic-bar__item--female">
            <mat-icon class="statistic-bar__item__icon">female</mat-icon>
            <div class="statistic-bar__item__info">
                <h2>40 female</h2>
            </div>
        </mat-button-toggle>
        <mat-button-toggle value="kid" class="statistic-bar__item statistic-bar__item--kids">
            <mat-icon class="statistic-bar__item__icon">cruelty_free</mat-icon>
            <div class="statistic-bar__item__info">
                <h2>40 kids </h2>
            </div>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>


<div class="content">
    <main class="main">
        <div class="main--center">
        <mat-form-field appearance="standard">
            <mat-label>Search Riders</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search Riders" #input>
        </mat-form-field>

        <table class="table" mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let rider;">
                    <img src="{{ rider.profilePicture }}" class="table__data__image"
                         alt="{{ rider.lastName }} {{ rider.firstName }}">
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let rider">{{ rider.lastName }} {{ rider.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="nickName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nickname</th>
                <td mat-cell *matCellDef="let rider">{{ rider.nickName }}</td>
            </ng-container>

            <ng-container matColumnDef="division">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Division</th>
                <td mat-cell *matCellDef="let rider">{{ rider.division | titlecase }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let rider">
                    <button mat-icon-button aria-label="Follow this rider" (click)="toggleFavorites(rider)">
                        <mat-icon *ngIf="isFavoriteRider(rider.id)" class="table__data__favorite">favorite</mat-icon>
                        <mat-icon *ngIf="!isFavoriteRider(rider.id)">favorite_border</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="View rider profile" routerLink="/rider/{{rider.id}}">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements" class="paginator">
        </mat-paginator>
        </div>
    </main>

    <aside class="aside">
        <div class="aside__favorite">
        <h2 *ngIf="!favoriteRiders.length">
            <mat-icon>favorite_border</mat-icon>
            your favorite Riders!
        </h2>
        <h2 *ngIf="favoriteRiders.length">
            Your
            <mat-icon class="favorite">favorite</mat-icon>
            Riders:
        </h2>
        <div class="aside__favorite-riders">
            <surf-rider-card *ngFor="let rider of favoriteRiders" [rider]="rider"></surf-rider-card>
        </div>
        </div>
    </aside>
</div>
