@import "variables";

.mat-progress-spinner {
    margin: auto auto;
}

.weather__card {

    cursor: pointer;

    .mat-card-title-group img {
        width: 100px;
        height: 100px;
    }


    &__air-water {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: self-end;

        .air {
            color: $color-text-1;
            font-size: 1.5rem;
        }

        .water {
            color: $color-water;
        }

        mat-icon {
            vertical-align: middle;
        }
    }
}
