@import "variables";

.mat-progress-spinner {
    margin: auto auto;
}

.weather__card {
    margin-bottom: 1rem;


    &__air-water {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .air {
            color: $color-text-1;
            font-size: 1.2rem;
        }

        .water {
            color: $color-water;
        }

        mat-icon {
            vertical-align: middle;
        }
    }
}
