<div class="container" *ngFor="let timelineItem of timeline; first as isFirst; last as isLast">
    <div class="container__timeline">
        <surf-time-line-line *ngIf="isFirst && isLast" [ongoing]="ongoing"></surf-time-line-line>
        <surf-time-line-line *ngIf="isFirst && !isLast" [next]="true"></surf-time-line-line>
        <surf-time-line-line *ngIf="isLast" [previous]="true" [ongoing]="ongoing"></surf-time-line-line>
        <surf-time-line-line *ngIf="!isLast && !isFirst" [next]="true" [previous]="true"></surf-time-line-line>
    </div>
    <div class="container__details">
        <mat-icon *ngIf="timelineItem.icon != 'default'">{{getIconForTimeline(timelineItem.icon)}}</mat-icon>
        {{timelineItem.title}}
        <i>{{timelineItem.time | date}}</i>
        <br>
        <i>{{timelineItem.content}}</i>
    </div>
</div>
