<mat-vertical-stepper *ngIf="timeline" #stepper>
    <ng-template matStepperIcon="edit"></ng-template>
    <ng-template matStepperIcon="done"></ng-template>
    <ng-template matStepperIcon="number"></ng-template>
    <ng-template matStepperIcon="error"></ng-template>
    <ng-container *ngFor="let timelineItem of timeline">
        <mat-step state="{{timelineItem.icon}}">
            <ng-template matStepLabel>
                <div class="step">
                    <mat-icon
                        *ngIf="timelineItem.icon != 'default'">{{getIconForTimeline(timelineItem.icon)}}</mat-icon>
                    {{timelineItem.title}}
                </div>
                <i>{{timelineItem.time | date}}</i>
                <br>
                <i>{{timelineItem.content}}</i>
            </ng-template>
        </mat-step>
    </ng-container>
</mat-vertical-stepper>
