@import "assets/scss/_mixins";
@import "assets/scss/_variables";

* {
    margin: 0;
    padding: 0;
}

*,
::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    //font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
    html {
        // font-size: 50%;
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    @include title;
}

h2 {
    @include secondary-title;
}

snack-bar-container {


    &.success,
    &.warning,
    &.error {
        margin-top: 5rem;
        z-index: 20;
        text-transform: uppercase;
        background-color: white;
    }

    &.success {
        color: $color-text-1;
    }

    &.warning {
        // TODO: DEFINE COLOR SCHEME
        color: $color-warn;
    }

    &.error {
        // TODO: DEFINE COLOR SCHEME
        color: $color-error;
    }

}





