<div class="content">
    <main class="main">
        <h2>Upcoming Events</h2>
        <div class="events">
            <ng-container *ngIf="surfEvents$ | async as surfEvents">
                <mat-spinner *ngIf="surfEvents.length === 0" diameter="40"></mat-spinner>
                <ng-container *ngIf="surfEvents.length > 0">
                    <rs-carousel *ngIf="smallScreen" [index]="currentEvent" [auto]="false">
                        <ng-container *ngFor="let surfEvent of surfEvents">
                            <rs-event-card [surfEvent]="surfEvent" *rs-carousel-item></rs-event-card>
                        </ng-container>
                    </rs-carousel>
                    <ng-container *ngIf="!smallScreen">
                        <ng-container *ngFor="let surfEvent of surfEvents">
                            <rs-event-card [surfEvent]="surfEvent"></rs-event-card>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </main>
    <aside class="aside">
        <h2>Some Awesome Riders</h2>
        <mat-spinner *ngIf="isLoadingRandomRiders" diameter="40"></mat-spinner>
        <div *ngIf="!isLoadingRandomRiders && randomRiders.length">
            <div class="rider__cards">
                <rs-rider-card *ngFor="let rider of randomRiders" [rider]="rider"></rs-rider-card>
            </div>
        </div>

        <ng-container *ngIf="upcomingSurfEvents$ | async as upcomingSurfEvents">
            <h2>Upcoming</h2>
            <ul>
                <li *ngFor="let upcomingSurfEvent of upcomingSurfEvents">
                    {{upcomingSurfEvent.name}}
                </li>
            </ul>
        </ng-container>
        <ng-container *ngIf="pastSurfEvents$ | async as pastSurfEvents">
            <h2>Past</h2>
            <ul>
                <li *ngFor="let pastSurfEvent of pastSurfEvents">
                    {{pastSurfEvent.name}}
                </li>
            </ul>
        </ng-container>
        <ng-container *ngIf="currentSurfEvents$ | async as currentSurfEvents">
            <h2>Current</h2>
            <ul>
                <li *ngFor="let currentSurfEvent of currentSurfEvents">
                    {{currentSurfEvent.name}}
                </li>
            </ul>
        </ng-container>
    </aside>
</div>


<ng-container *ngIf="surfEvents$ | async as surfEvents">
    <div class="map">
        <h2>Some Awesome Locations</h2>
        <div class="event__map">
            <google-map
                width="100%"
                height="500px"
                [center]="{lat: 46.9332651, lng: 7.497035}"
                [zoom]="mapZoom"
                [options]="mapOptions">
                <map-marker *ngFor="let surfEvent of surfEvents"
                            #marker="mapMarker"
                            [position]="{lat: surfEvent.locationLat, lng: surfEvent.locationLong}"
                            [title]="surfEvent.name"
                            (mapClick)="openMapInfoWindow(marker, surfEvent.name)">
                </map-marker>
                <map-info-window>{{ mapInfoContent }}</map-info-window>
            </google-map>
        </div>
    </div>
</ng-container>
