<div class="dropzone" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="dropZoneItems">
    <div class="dropzone__item" cdkDrag [cdkDragData]="dropItem" *ngFor="let dropItem of dropZoneItems; let i = index">
        <rs-drop-zone-item>
            <ng-template rs-drop-zone-item-content>
                <mat-card>
                    Id: {{dropItem.id}}
                    Type: {{dropItem.type}}
                </mat-card>
            </ng-template>
        </rs-drop-zone-item>
    </div>
</div>
