<div class="container">
    <div *ngIf="loading" class="container__loading">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!loading && !currentTimeLines && !historyTimeLineCollection" class="container__no-data">
        <mat-icon>feedback</mat-icon>
        <div class="container__no-data__text">
            <p>No event data of the selected rider found!</p>
            <p>Come back later when the rider has participated on a surf event.</p>
        </div>
    </div>
    <mat-tab-group
        *ngIf="!loading && (currentTimeLines || historyTimeLineCollection)">
        <mat-tab *ngIf="currentTimeLines" label="Ongoing"
                 class="container__timeline">
            <ng-container *ngFor="let timeLine of currentTimeLines">
                <div class="container__timeline__description">
                    <h1 class="container__timeline__description-title">{{timeLine.event.name}}</h1>
                    <h2 class="container__timeline__description-location">{{timeLine.event.location}}</h2>
                    <hr>
                    <p class="container__timeline__description-text">{{timeLine.event.description}}</p>
                </div>
                <rs-time-line *ngIf="timeLine.timeline" [timeline]="timeLine.timeline"
                              [ongoing]="true"></rs-time-line>
            </ng-container>
        </mat-tab>
        <ng-container *ngIf="historyTimeLineCollection">
            <mat-tab *ngFor="let historicalTimeLines of historyTimeLineCollection"
                     label="{{historicalTimeLines.year}}"
            >
                <div class="container__timeline__description" *ngFor="let timeLine of historicalTimeLines.timeLines">
                    <h1 class="container__timeline__description-title">{{timeLine.event.name}}</h1>
                    <h2 class="container__timeline__description-location">{{timeLine.event.location}}</h2>
                    <hr>
                    <p class="container__timeline__description-text">{{timeLine.event.description}}</p>
                    <rs-time-line *ngIf="timeLine.timeline" [timeline]="timeLine.timeline"></rs-time-line>
                </div>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>
