<div class="carrousel">
    <ul *ngIf="true" #carouselList>
        <li *ngFor="let element of elements" #craouselListItem
            (panleft)="onPan($event, craouselListItem)"
            (panright)="onPan($event, craouselListItem)"
            (panend)="onPanEnd($event, craouselListItem)"
            (pancancel)="onPanEnd($event, craouselListItem)"
            [style.touch-action]="'pan-y'"
        >
            <div class="elementwrapper">
                <ng-container [ngTemplateOutlet]="element.el"></ng-container>
            </div>
        </li>
    </ul>
</div>
