<mat-tab-group>
    <mat-tab label="Ongoing">
        <h1>RiverSurfJam 2021</h1>
        <h2>Thun</h2>
        <p>Ride the waves!</p>
        <surf-timeline [timeline]="currentTimeline"></surf-timeline>
    </mat-tab>
    <mat-tab label="2020">
        <h1>RiverSurfJam 2020</h1>
        <h2>Thun</h2>
        <surf-timeline [timeline]="oldTimeLine"></surf-timeline>
    </mat-tab>
    <mat-tab label="2019">
        <h1>RiverSurfJam 2019</h1>
        <h2>Thun</h2>
        <surf-timeline [timeline]="oldTimeLine"></surf-timeline>
    </mat-tab>
</mat-tab-group>
